/* *{
    margin: 0;
    padding: 0;
} */
body{
    background-color: #e7e2da;
    background-position: center;
    background-size: 1500px 1000px;
    font-size: 25px;
    font-family: 'Arial', Helvetica, sans-serif;
    background-image: url(img/tim-chow-9IcKPSQ9G5Q-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
}
form{
    margin: 100px auto;
    width: 500px;
    position: relative;
    right: 0px;
    border-color: navy;;
    background-color: rgb(22, 155, 93);;
}
input[type=text], input[type=password], input[type=number] {
    margin: 5px auto;
    width: 400px;
    padding: 10px;
    text-align: center;
}
input[type=submit] {
    padding: 10px;
    width: 150px;
    border: 1px solid #fff;
    color: #fff;
    background:  #64df00;
}